NiezapominajkaPython/venv/
NiezapominajkaPython/.idea/.gitignore
NiezapominajkaPython/.idea/misc.xml
NiezapominajkaPython/.idea/modules.xml
NiezapominajkaPython/.idea/NiezapominajkaPython.iml
NiezapominajkaPython/.idea/vcs.xml
NiezapominajkaPython/.idea/inspectionProfiles/profiles_settings.xml
NiezapominajkaPython/.idea/inspectionProfiles/Project_Default.xml
